<app-progress *ngIf="dataLoading"></app-progress>
<main id="main" class="main" *ngIf="action.ResponseReceived">
    <div class="row">
        <div class="pagetitle dashboard col-sm-8">
            <h1>{{action.MenuTitle}}</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="admin/admin-dashboard">Home</a></li>
                    <li class="breadcrumb-item">{{action.ParentMenuTitle}}</li>
                    <li class="breadcrumb-item active">{{action.MenuTitle}}</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-4">
            <button mat-raised-button color="primary" *ngIf="action.CanCreate" class="float-right"
                data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="resetForm()">New
                Student Registration</button>
        </div>
    </div>

    <section class="section dashboard">
        <div class="card">
            <div class="card-body ">
                <!-- filter accordint to Institution Name angular -->
                <div *ngIf="this.Filter.RoleId == 5">
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Filter by Institution</mat-label>
                            <mat-select name="StaffId" [(ngModel)]="Filter.StaffId"
                                (selectionChange)="getStudentList()">
                                <mat-option value="0">All Institutions</mat-option>
                                <mat-option *ngFor="let staff of StaffList" [value]="staff.StaffId">
                                    {{staff.StaffName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
                <div class="dataTable-top">
                    <div class="dataTable-dropdown d-flex">
                        <select class="dataTable-selector form-select form-select-sm" [(ngModel)]="itemPerPage">
                            <option *ngFor="let option of PageSize" [value]="option">{{option}} </option>
                        </select>
                        <span class="ms-2">Entries per page</span>
                    </div>
                    <div class="dataTable-search">
                        <input class="dataTable-input form-control form-control-sm" [(ngModel)]="Search"
                            placeholder="Search..." type="text">
                    </div>
                </div>

                <div class="table-container overflow-auto">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Institution Name</th>
                                <th>Student Code</th>
                                <th>Registration Date</th>
                                <th>Student Name</th>
                                <th>Father Name</th>
                                <th>Mobile No</th>
                                <th>Whatsapp No</th>
                                <th>Education</th>
                                <th>Status</th>
                                <th *ngIf="action.CanEdit">Edit</th>
                                <th *ngIf="action.CanDelete">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let item of StudentList |filter:Search:true|orderBy:sortKey:reverse|paginate: { itemsPerPage: itemPerPage, currentPage: p } ; ; let i = index;">
                                <td>{{(itemPerPage * (p -1)) +i+ 1}}</td>
                                <td>{{item.StaffName}}</td>
                                <td>{{item.StudentCode}}</td>
                                <td>{{item.RegsitrationDate|date:"dd-MM-yy"}}</td>
                                <td>{{item.StudentName}}</td>
                                <td>{{item.FatherName}}</td>
                                <td>{{item.MobileNo}}</td>
                                <td>{{item.WhatsAppNo}}</td>
                                <td>{{AllEducationList[item.Education]}}</td>
                                <td>
                                    <span class="p-1"
                                        [ngClass]="item.Status == 1 ? 'badge text-bg-success':'badge text-bg-danger'">
                                        {{AllStatusList[item.Status]}}
                                    </span>
                                </td>
                                <td *ngIf="action.CanEdit">
                                    <button class="btn btn-sm btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop" (click)="editStudent(item)">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                </td>
                                <td *ngIf="action.CanDelete">
                                    <button class="btn btn-sm btn-danger" (click)="deleteStudent(item)">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot *ngIf="Filter.RoleId == 5" style="background-color: #f8f9fa;">
                            <tr>
                                <td colspan="3"></td>
                                <td style="font-weight: bold; text-align: right; font-size: 16px;">Total Students:-
                                </td>
                                <td style="text-align: center;font-weight: 700; color: #0d6efd;">
                                    {{ StudentList.length }}
                                </td>
                                <td colspan="7"></td>
                            </tr>
                        </tfoot>


                    </table>
                </div>
                <div class="dataTable-bottom ">
                    <pagination-controls (pageChange)="onTableDataChange($event)"
                        class="pagination justify-content-end"></pagination-controls>
                </div>
            </div>
        </div>

    </section>


    <div *ngIf="action.CanEdit || action.CanCreate" class="modal fade modal-lg" id="staticBackdrop"
        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">{{Student.StudentId> 0 ? 'Update':'New'}}
                        Student Registration
                    </h1>
                    <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="resetForm()"></button>
                </div>
                <div class="modal-body">
                    <form #formStudent="ngForm" class="d-flex justify-content-evenly flex-wrap">
                        <div class="container">

                            <div class="row">

                                <mat-form-field appearance="outline" class="col-sm-3 form-group">
                                    <mat-label>Institution</mat-label>
                                    <mat-select name="StaffId" [(ngModel)]="Student.StaffId" disabled 
                                        required>
                                        <mat-option *ngFor="let status of StaffList" [value]="status.StaffId">
                                            {{ status.StaffName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>


                                <!-- <mat-form-field appearance="outline" class="col-sm-3 form-group">
                                    <mat-label>Institution</mat-label>
                                    <mat-select #StaffId="ngModel" name="StaffId" [(ngModel)]="Student.StaffId"
                                        required [ariaReadOnly]="true">
                                        <mat-option [value]="status.StaffId"
                                            *ngFor="let status of StaffList">{{status.StaffName}}</mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="(Status.dirty  || Status.touched) || (Status.invalid && isSubmitted)">
                                        Institution is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field> -->


                                <mat-form-field appearance="outline" class="col-sm-3 form-group">
                                    <mat-label>Student Name</mat-label>
                                    <input matInput #StudentName="ngModel" name="StudentName"
                                        [(ngModel)]="Student.StudentName" required autofocus>

                                    <mat-error
                                        *ngIf="(StudentName.dirty  || StudentName.touched) || (StudentName.invalid && isSubmitted)">
                                        Student name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-sm-3 form-group">
                                    <mat-label>Father Name</mat-label>
                                    <input matInput #FatherName="ngModel" name="FatherName"
                                        [(ngModel)]="Student.FatherName" required autofocus>

                                    <mat-error
                                        *ngIf="(FatherName.dirty  || FatherName.touched) || (FatherName.invalid && isSubmitted)">
                                        Principal Name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>

                                <!-- designation -->
                                <!-- <mat-form-field appearance="outline" class="col-sm-3 form-group">
                                    <mat-label>Designation</mat-label>
                                    <mat-select #DesignationId="ngModel" name="DesignationId"
                                        [(ngModel)]="Staff.DesignationId" required autofocus>
                                        <mat-option *ngFor="let option of DesignationList"
                                            (onSelectionChange)="Staff.DesignationId = option.DesignationId"
                                            [value]="option.DesignationId">
                                            {{option.DesignationName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="(DesignationId.dirty  || DesignationId.touched) || (DesignationId.invalid && isSubmitted)">
                                        Designation is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field> -->


                                <!-- <mat-form-field appearance="outline" class="col-sm-3 form-group">
                                    <mat-label [ariaSetSize]="8">Department</mat-label>
                                    <mat-select #DepartmentId="ngModel" name="DepartmentId"
                                        [(ngModel)]="Staff.DepartmentId" required autofocus>
                                        <mat-option *ngFor="let option of DepartmentList"
                                            (onSelectionChange)="Staff.DepartmentId = option.DepartmentId"
                                            [value]="option.DepartmentId">
                                            {{option.DepartmentName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="(DepartmentId.dirty  || DepartmentId.touched) || (DepartmentId.invalid && isSubmitted)">
                                        Department is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field> -->


                                <!-- <mat-form-field appearance="outline" class="col-sm-3 form-group">
                                    <mat-label>Staff Type</mat-label>
                                    <mat-select #StaffType="ngModel" name="StaffType" [(ngModel)]="Staff.StaffType"
                                        required>
                                        <mat-option [value]="staffType.Key"
                                            *ngFor="let staffType of StaffTypeList">{{staffType.Value}}</mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="(StaffType.dirty  || StaffType.touched) || (StaffType.invalid && isSubmitted)">
                                        Staff Type is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field> -->

                                <!-- <mat-form-field appearance="outline" class="col-sm-3 form-group">
                                    <mat-label>Father Name</mat-label>
                                    <input matInput #FatherName="ngModel" name="FatherName"
                                        [(ngModel)]="Staff.FatherName">
                                    <mat-error>
                                        Father Name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field> -->

                                <!-- <mat-form-field appearance="outline" class="col-sm-3 form-group">
                                    <mat-label>DOB</mat-label>
                                    <input matInput #DOB="ngModel" name="DOB" [(ngModel)]="Staff.DOB"
                                        [matDatepicker]="DOBPicker">
                                    <mat-datepicker-toggle matIconSuffix [for]="DOBPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #DOBPicker></mat-datepicker>
                                    
                                </mat-form-field> -->

                                <!--mobile-->
                                <mat-form-field appearance="outline" class="col-sm-3 form-group">
                                    <mat-label>Mobile No</mat-label>
                                    <input matInput #MobileNo="ngModel" name="MobileNo" [(ngModel)]="Student.MobileNo"
                                        maxlength="10" type="tel" required autofocus>
                                    <mat-error
                                        *ngIf="(MobileNo.dirty || MobileNo.touched || isSubmitted) && MobileNo.invalid">
                                        Mobile No is <strong>required</strong> and of <strong>10 digits</strong>
                                    </mat-error>
                                </mat-form-field>


                                <!--alternate no-->
                                <mat-form-field appearance="outline" class="col-sm-3 form-group">
                                    <mat-label>Whatsapp No</mat-label>
                                    <input matInput #WhatsAppNo="ngModel" name="WhatsAppNo"
                                        [(ngModel)]="Student.WhatsAppNo" maxlength="10" type="tel" autofocus>

                                </mat-form-field>



                                <!--email-->
                                <mat-form-field appearance="outline" class="col-sm-3 form-group">
                                    <mat-label>Education</mat-label>
                                    <mat-select #Education="ngModel" name="Education" [(ngModel)]="Student.Education"
                                        required>
                                        <mat-option [value]="status.Key"
                                            *ngFor="let status of EducationList">{{status.Value}}</mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="(Status.dirty  || Status.touched) || (Status.invalid && isSubmitted)">
                                        Education is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>

                                <!--gender-->
                                <!-- <mat-form-field appearance="outline" class="col-sm-3 form-group">
                                    <mat-label>Gender</mat-label>
                                    <mat-select #Gender="ngModel" name="Gender" [(ngModel)]="Staff.Gender">
                                        <mat-option [value]="gender.Key"
                                            *ngFor="let gender of GenderList">{{gender.Value}}</mat-option>
                                    </mat-select>
                                    <mat-error>
                                        Gender is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field> -->

                                <!-- qualification
                                <mat-form-field appearance="outline" class="col-sm-3 form-group">
                                    <mat-label>Qualification</mat-label>
                                    <input matInput #Qualification="ngModel" name="Qualification"
                                        [(ngModel)]="Staff.Qualification">
                                    <mat-error>
                                        Qualification is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field> -->

                                <!--fill address-->
                                <mat-form-field appearance="outline" class="col-sm-3 form-group">
                                    <mat-label> Aadhar No</mat-label>
                                    <input matInput #AadharNo="ngModel" name="AadharNo" maxlength="12"
                                        [(ngModel)]="Student.AadharNo">
                                    <mat-error>
                                        AadharNo is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>

                                <!--join date-->
                                <mat-form-field appearance="outline" class="col-sm-3 form-group">
                                    <mat-label>Registration Date</mat-label>
                                    <input matInput #RegistrationDate="ngModel" name="RegistrationDate"
                                        [(ngModel)]="Student.RegistrationDate" required
                                        [matDatepicker]="RegistrationDatePicker">
                                    <mat-datepicker-toggle matIconSuffix
                                        [for]="RegistrationDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #RegistrationDatePicker></mat-datepicker>
                                    <mat-error
                                        *ngIf="(RegistrationDate.dirty  || RegistrationDate.touched) || (RegistrationDate.invalid && isSubmitted)">
                                        Registration Date is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                                <!--department-->

                                <!--status-->
                                <mat-form-field appearance="outline" class="col-sm-3 form-group">
                                    <mat-label>Status</mat-label>
                                    <mat-select #Status="ngModel" name="Status" [(ngModel)]="Student.Status" required>
                                        <mat-option [value]="status.Key"
                                            *ngFor="let status of StatusList">{{status.Value}}</mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="(Status.dirty  || Status.touched) || (Status.invalid && isSubmitted)">
                                        Status is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                        </div>

                    </form>
                </div>
                <div class="modal-footer mt-2">
                    <button type="button" mat-raised-button color="warn" class="me-2" data-bs-dismiss="modal"
                        (click)="resetForm()">Cancel</button>
                    <button mat-raised-button color="primary" (click)="saveStudent()">{{Student.StudentId >
                        0 ? 'Update':'Submit'}}</button>
                </div>
            </div>
        </div>
    </div>
</main>